.Bod {
    //overflow: auto;
    //height: 2740px;
}

#citat {
    width: 592px;
}

p {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.023%; /* 47.168px */
    letter-spacing: -0.18px;
}
