.footer {
    background-color: #FF1F66;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 3.4rem;
}

.footer > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-top: 0.4rem;
    padding-left: 0;
    padding-right: 0;
}

.footer > ul > li > img {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}
