@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    margin: 0;
    background-image: url("./deps/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
