.Bod {
    margin: 0;
    background-image: url("./assets/bg.png");
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#citat {
    display: flex;
    padding: 27.425px 44.286px 28px 43.257px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#citat > p {
    width: 592px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 131.023%; /* 47.168px */
    letter-spacing: -0.18px;
}

.Polls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
